@model Comments.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PleaseContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PleaseContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginatingSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginatingSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
